<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>사원수정</h2>
	<form action="/update" method="post">
		employeeId<input name="employeeId" readonly th:value="${empVO.employeeId}">
		lastName<input name="lastName" th:value="${empVO.lastName}">
		hireDate<input name="hireDate" th:value="${#dates.format(empVO.hireDate,'yyyy-MM-dd')}">
		jobId<select name="jobId">
			<option value="IT_PROG">Programmer</option>
			<option value="ST_MAN">Stock Manager</option>
		</select>
		이메일<input name="email" th:value="${empVO.email}">
		<button>수정</button>
	</form>
</body>

</html>