<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.mapper.BoardMapper">
 		<sql id="condition">
		<where>
	  	  	<if test ="title != null">
	  	  		title = #{title}
	  	  	</if>
	  	  	<if test ="content != null">
	  	    	AND content = #{content}
	  	    </if>
	  	    <if test ="writer != null">
	  	    	AND writer = #{writer}
	  	    </if>
	  	</where>
	</sql>
 <select id="getBoardList" resultType="BoardVO">
		 SELECT * FROM (SELECT rownum as rn, a.* FROM (
	 
		 SELECT board_no,
				title,
				content,
				writer,
				writer_date,
				click_cnt,
				image
		   FROM board
			<include refid="condition"></include>
			 ORDER BY board_no desc
	  	     ) a WHERE rownum <![CDATA[  <=  ]]> #{end} ) b WHERE rn >= #{start}
 </select>
 
 	<select id="getCount" resultType="long">
		SELECT count(*)
		  FROM board
		  <include refid="condition"></include>
	</select>
 
 	<select id="getBoardInfo" parameterType="int" resultType="BoardVO">
		SELECT *
		FROM   board
		WHERE  board_no = #{boardNo}
	</select>
	
	<insert id="insertBoard" parameterType="BoardVO">
		<selectKey keyProperty="boardNo" order="BEFORE" resultType="int">
			select board_seq.nextval from dual
		</selectKey>
		INSERT INTO board
					(board_no,
					title,
					content,
					writer,
					writer_date,
					click_cnt,
					image)
		    VALUES  (
		    		#{boardNo}
		    		,#{title}
		    		,#{content}
		    		,#{writer}
		    		,#{writerDate}
		    		,#{clickCnt}
		    		,#{image}
		    		)
	</insert>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board
		WHERE board_no = #{boardNo}
	</delete>
	
	<update id="updateBoard" parameterType="BoardVO">
		UPDATE board
		SET title = #{title},
			content = #{content}
		WHERE board_no = #{boardNo}
	</update>
	<update id="updateCount" parameterType="BoardVO">
		<selectKey keyProperty="clickCnt" order="BEFORE" resultType="int">
			select click_cnt + 1
			from board
			where board_no = #{boardNo}
		</selectKey>
		UPDATE board
		SET click_cnt = #{clickCnt}
		WHERE board_no = #{boardNo}
	</update>
	
</mapper>